<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav>
    <md-nav-list>
      <a md-list-item routerLink="/">
        <md-icon md-list-icon>home</md-icon>
        <span md-line>Home</span>
        <span md-line></span>
      </a>
      <a md-list-item routerLink="/directory">
        <md-icon md-list-icon>assignment_ind</md-icon>
        <span md-line>Directory</span>
        <span md-line></span>
      </a>
      <a md-list-item routerLink="/about">
        <md-icon md-list-icon></md-icon>
        <span md-line>About</span>
        <span md-line></span>
      </a>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.open()">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
          </svg>
        </button> Demo
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <a href="/login" md-button>
      <md-icon>account_circle</md-icon>
    </a>
  </md-toolbar>
  <main>
    <md-content>
      <router-outlet></router-outlet>

    </md-content>

  </main>

  <footer>
    AngularClass
  </footer>

</md-sidenav-layout>